@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="float: right">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Visualisation
            </NavLink>           
            <NavLink class="nav-link" href="references">
                <span class="oi oi-book" aria-hidden="true"></span> References
            </NavLink>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
