@page "/references"

<PageTitle>References</PageTitle>

<h1>References</h1>

<RadzenCard>
    <p><b>UKERC, 2021.</b>Resilience of the Future Energy System: Impacts of Energy Disruptions on Society. [online] Cardiff. Available at: https://d2e1qxpsswcpgz.cloudfront.net/uploads/2021/01/UKERC_WP_Resilience-Energy-System_Impacts-of-Disruptions-on-Society.pdf [Accessed 18 April 2022].</p>
    <p><b>Busby et al., 2021</b>Busby, J., Baker, K., Bazilian, M., Gilbert, A., Grubert, E., Rai, V., Rhodes, J., Shidore, S., Smith, C. and Webber, M., 2021. Cascading risks: Understanding the 2021 winter blackout in Texas. Energy Research &amp; Social Science, 77, p.102106.</p>
    <p><b>Workman, M., Mendes, M. and Thomas, H., 2014.</b>Energy & Water Infrastructure Sector Interdependencies Governance - Planning and Preparing for the Future. [online] Available at:
        https://erpuk.org/wp-content/uploads/2015/05/ERP-ITRC-UKWRIP-UKEW-Workshop-Report-17th-May-15_FINALv2.pdf [Accessed 18 April 2022].</p>
    <p><b>Birkett, D.M., 2017.</b>Water Critical Infrastructure Security and Its Dependencies. Journal of Terrorism Research, 8(2), pp.1–21.</p>
    <p><b>C40knowledgehub.org. 2022.</b>C40 Knowledge Community. [online] Available at: https://www.c40knowledgehub.org/s/article/How-to-address-infrastructure-interdependencies-when-adapting-to-climate-change?language=en_US [Accessed 18 April 2022].</p>
    <p><b>Universitatea Naţională de Apărare, 2008.</b>CRITICAL INFRASTRUCTURE INTERDEPENDENCIES. [online] Available at: http://www.codrm.eu/conferences/2008/12_Boaru_Gheorghe.pdf [Accessed 18 April 2022].</p>
    <p><b>UKEssays, 2018.</b>The Interdependencies of Three of the Critical Infrastructure Sectors. [online] Available at: https://www.ukessays.com/essays/security/the-interdependencies-of-three-of-the-critical-infrastructure-sectors.php?vref=1 [Accessed 18 April 2022].</p>
    <p><b>UK Food and Drink Sector, 2021.</b>Establishing the labour availability issues of the UK Food and Drink Sector. [online] Available at: https://www.nfuonline.com/archive?treeid=152097 [Accessed 18 April 2022].</p>
    <p><b></b></p>
</RadzenCard>
